:root{
	--primary-color: #33658a;
	--highlight-color: #03a6de;
	--secondary-color: #1f273c;
}
body{
	position: relative;
	font-family: 'Roboto', sans-serif;
	margin:0;
}
.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height:55px;
		padding: 0 0;
		background-color: rgba(210,222,234,0.7);
		z-index: 100;
}
.bottom-line{
	height:1px;
	width:100%;
	position: absolute;
	bottom:0;
	left:0;

}
input:focus,
textarea:focus{
	outline:0;
}
.button{
	background-color: #33658a;
	color:white;
	text-decoration: none;
	padding:15px;
	width: 150px;
	text-align: center;
	transition: 0.4s;
}
.button:hover{
	background-color: #6d9dc5;
}
.header ul{
		list-style-type: none;
		overflow: hidden;
		padding: 0 10px 0 15px;
		margin-right: 3%;
}
.header li{
	float: left;
}
.header li a{
	padding: 10px;
	color: #1F273C;
	text-decoration: none;
	display: block;
	font-family: 'Montserrat';
}
.header li a.active{
	color: #2A5382;
}
.logo{
		padding: 4px 2px 2px 2px;
		font-size: 24px;
		position: relative;
		margin: 0px 0 5px 4%;
		font-weight: 400;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "LuloClean-OneBold";
		transition: all 0.6s ease;
		color: #2A5382;
		/* border: #2A5382 2px solid; */
}
#m-menu-list, #m-menu-btn{
	z-index: 100;
	color:#1F273C;
}
#m-menu-btn{
	display:none;
}

#m-menu-list{
	display:none;
	background-color: rgba(210,222,234,0.7);
}
#m-menu-list ul{
	display: hidden;
}
.contents{
	/*margin-top: 71px;*/
	background-color: white;
}
.banner{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-position: bottom;
	background-repeat: no-repeat;

	background-image: linear-gradient(to bottom,rgba(78, 71, 61, 0.4),rgba(78,71,61,0.4) ),url(./img/hero-slide02.jpg);
	background-size: cover;
}
.banner::before{
	background-color: rgba(24,24,255,0.4);
}
.title{
	font-size: 60px;
	color: white;
	font-family: "LuloClean-OneBold";
}
.mobile-br{
	display: none;
}
.section-title{
	color: #2A5382;
	font-size: 30px;
	padding: 40px;
	font-family: "LuloClean-OneBold";
}
.title3{
	color: white;
	font-size: 14px;
	font-family: "LuloClean-One";
	font-weight: 200;
	padding: 6px;
	margin: 5px;
	letter-spacing: 1px;
	border-bottom: white solid 1px;
	border-top: white solid 1px;
	text-align: center;
}
.about{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
.about-container{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 30px;
	max-width: 1024px;
}
.about-pic{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-pic img, .about-pic div{
	width:100%;
	height:auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.about-point{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.about-point ul{
	margin:0;
}
.about-point ul li{
	padding-bottom: 10px;
	font-size:18px;
	color:#878787;
	font-weight:300;
	font-family: 'Montserrat';
}
.skills{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.skill-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.skill-container ul{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:0;
	flex-wrap: wrap;
}
.skill-container ul a li{
	width:100px;
	height:100px;
	display:flex;
	align-items:center;
	justify-content:center;
	transition: 0.4s;
}
.skill-container ul a li:hover{
	/* opacity:0.5; */
	transform: scale(1.3);
}
.skill-container ul a li img{
	height:60px;
	width:auto;
}
.timeline{
	position: relative;
	min-width: 60vw;
	max-width: 100vw;
	width: 1130px;
}
.timeline::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 20px auto;
	width: 2px;
	height: 100%;
	background-color: #e1e1e1;
}
.card{
	background-color: #fff;
	border-radius: 5px;
	border: 0px;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
	padding: 24px;
	width: 470px;
	color: #03a6de;
	margin: 25px 5px;
}
.timeline > .timeline-item{
	position: relative;
	display: flex;
}
.timeline > .timeline-item:nth-child(2n){
	flex-direction: row-reverse !important;
}
.timeline > .timeline-item:nth-child(2n) .card{
	flex-direction: row-reverse;
}
.timeline > .timeline-item .image{
	margin-right: 15px;

}
.timeline > .timeline-item .image > img{
	height: auto;
	max-width: 80px;
}
.timeline > .timeline-item:nth-child(2n) .image{
	margin-right: 0px;
	margin-left: 15px;
}
.timeline-item .name{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.2px;
}
.timeline-item .info{
	padding-top: 8px;
}
.timeline-item .organisation{
	font-size: 16px;
}
.timeline-item .date{
	color: #878787;
}
.timeline-item .details{
	font-family: 'Sofia Pro Light','Montserrat';
	color: #666666;
	font-size: 15px;
	padding-top: 10px;
	letter-spacing: 1px;
}
.bullet{
	background-color: #03a6de;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	border: #03a6de 1px solid;
	margin: auto;
}
.bullet:last-child{
	animation: grow 1.5s ease-in-out infinite;
}
.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
	color:#878787;
}
.contact form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact form input{
	padding:5px;
	width:100%;
	height:20px;
	border-radius: 8px;
	margin-top: 20px;
	border:0px solid #878787;
	-webkit-appearance: none;
}
.contact form textarea{
	margin-top: 20px;
	width:100%;
	height: 60px;
	padding: 5px;
	border-radius: 8px;
	border: 1px solid #878787;
}
.field{
	position: relative;
	width:85%;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
input ~ label, textarea ~ label{
	position:absolute;
	color:#878787;
	top:28px;
	left:8px;
	font-size: 14px;
	transition: 0.4s;
}
.field input ~ span{
	background-color: #878787;
}
.field input:focus ~ span,
.field input:not(:focus):valid ~ span{
	background-color: #1f2735;
}
input:focus ~ label,
input:not(:focus):valid ~ label,
textarea:focus ~ label,
textarea:not(:focus):valid ~ label{
	top: 0px;
	left: 8px;
	font-size: 14px;
	opacity: 1;
}
.gform_btn{
	width: 200px;
	height: 40px !important;
	padding:5px;
	/* border:1px #1f273c solid; */
	background-color: #33658a;
	color: white;
	height: 40px;
	font-weight: 300;
	width: 85% !important;
	font-size: 14px;
	border-radius: 25px !important;
}
.footer{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #1F273C;
		color:white;
		font-weight: 300;
		font-size:14px;
}
.contact-container{
	display: flex;
	padding: 6px 3px 3px 3px;
}
.contact-icon{
	color:#1F273C;
	background-color:white;
	border-radius:50%;
	border:0.1px solid white;
	margin:5px;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-icon:hover{
	color:white;
	background-color:#1F273C;
	border-radius:50%;
	border:0.1px solid white;
	margin:5px;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-icon:hover a{
	text-decoration: none;
	color:white;
}
.contact-icon a{
	text-decoration: none;
	color:#1F273C;
}
.copyright{
	padding:3px 3px 6px 3px;
	font-size: 12px;
}
/* Common usage class */
.flex{
	display: flex;
}
.flex-center{
	align-items: center;
	justify-content: center;
}
.flex-end{
	align-items: center;
	justify-content: flex-end;
}
.flex-start{
	align-items: center;
	justify-content: flex-start;
}
.flex-between{
	align-items: center;
	justify-content: space-between;
}
.flex-start-between{
	align-items: flex-start;
	justify-content: space-between;
}
.flex-start-start{
	align-items: flex-start;
	justify-content: flex-start;
}
.flex-row{
	flex-direction: row;
}
.flex-row-rev{
	flex-direction: row-reverse;
}
.flex-col{
	flex-direction: column;
}
.flex-col-rev{
	flex-direction: column-reverse;
}
.flex-wrap{
	flex-wrap: wrap;
}
.bg-cover{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* end of common usage */
@keyframes grow {
	from {width: 15px; height: 15px; opacity: 1;}
	to {width: 30px; height: 30px; opacity: 0;}
}
@media only screen and (min-width:1024px){
	[class*="col-"] {
	}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
@media only screen and (max-width:1024px){
	.bullet{
		top: 0;
		bottom: auto;
	}
	.bullet:last-child{
		display: none;
	}
	.timeline-item .card{
		margin-top: 30px !important;
	}
	.col-m-12 {
		width: 100vw;
		padding:15px 0;
	}
		.about-pic img{
		width:85%;
		height:auto;
	}
	.about-point ul{
		padding-right: 15px;
	}
}
@media only screen and (max-width:560px) {
	.col-m-12 {
		width: 100vw;
		padding:15px 0;
	}
	.logo{
		margin:0 0 0 4%;
	}
	.title{
		font-size:35px;
	}
	.title3{
		font-size:12px;
	}
	.mobile-br{
		display: inline;
	}
	.section-title{
		padding: 15px;
		font-size: 25px;
	}
	#m-menu-btn{
		display: block;
		position: absolute;
		font-size: 20px;
		right:20px;
		top:18px;
	}
	.header ul{
		display: none;
	}
	#m-menu-list{
		position: absolute;
		width:100vw;
		top:55px;
		left:0;
		height:auto;
	}
	#m-menu-list ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.banner{
		height:300px;
	}
	.bullet{
		top: 0;
		bottom: auto;
	}
	.bullet:last-child{
		display: none;
	}
	.timeline-item .card{
		margin-top: 30px !important;
	}
	.timeline-item:nth-child(2n) .card{
		flex-direction: row !important;
	}
	.timeline > .timeline-item:nth-child(2n) .image{
		margin-left: 0px;
		margin-right: 15px;
	}
	.contact-icon{
		width:40px;
		height:40px;
		font-size:20px;
	}
}
@font-face {font-family: "LuloClean-One";
		src: url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot");
		src: url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff2") format("woff2"),
		url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff") format("woff"),
		url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.ttf") format("truetype"),
		url("//db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.svg#LuloCleanW01-One") format("svg");
}
@font-face {font-family: "Sofia Pro Light";
	src: url("/res/Sofia Pro Light.ttf") format("truetype");
}
@font-face {font-family: "LuloClean-OneBold";
		src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot");
		src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2") format("woff2"),
		url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff") format("woff"),
		url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf") format("truetype"),
		url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#LuloCleanW01-OneBold") format("svg");
}
