.header ul{
    list-style-type: none;
    overflow: hidden;

}
.header li{
  float: left;
}
.header li a{
  padding: 10px;
  color: #878787;
  text-decoration: none;
  display: block;
}
.header li a.active{
  color: #00BBFF;
}
