body{
  position:relative;
  font-family: 'Roboto', sans-serif;
  margin:0;
}
.header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:55px;
    padding: 0 0;
    background-color: rgba(210,222,234,0.7);
    z-index: 100;
}
.button{
	background-color: #33658a;
	color:white;
	text-decoration: none;
	padding:15px;
	width: 150px;
  text-align: center;
	transition: 0.4s;
}
.button:hover{
	background-color: #6d9dc5;
}
.header ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0 10px 0 15px;
}
.header li{
  float: left;
}
.header li a{
  padding: 10px;
  color: #1F273C;
  text-decoration: none;
  display: block;
}
.header li a.active{
  color: #2A5382;
}
.logo{
    padding: 4px 2px 2px 2px;
    font-size: 24px;
    position: relative;
    margin: 0px 0 5px 4%;
    font-weight: 400;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
    color: #2A5382;
    border: #2A5382 2px solid;
}
#m-menu-list, #m-menu-btn{
	z-index: 100;
	color:#1F273C;
}
#m-menu-btn{
	display:none;
}

#m-menu-list{
	display:none;
	background-color: rgba(210,222,234,0.7);
}
#m-menu-list ul{
	display: hidden;
}
.contents{
  /*margin-top: 71px;*/
  background-color: white;
}
.banner{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 700px;
  align-items: center;
  justify-content: center;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-image: url(/img/hero-slide02.jpg);
  background-size: cover;
}
.banner::before{
  background-color: rgba(24,24,255,0.4);
}
.title{
  font-size: 60px;
  color: white;
}
.title2{
	color: #2A5382;
  font-size: 35px;
  padding: 40px;
}
.title3{
  color: white;
  font-size: 15px;
    font-weight: 200;
    padding: 6px;
    margin: 5px;
    letter-spacing: 1px;
    border-bottom: white solid 1px;
    border-top: white solid 1px;
}
.about{
  display:flex;
  flex-direction:column;
  align-items:center;
	justify-content: center;
}
.about-container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 30px;
	max-width: 1024px;
}
.about-pic{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-pic img{
	width:100%;
	height:auto;
}
.about-point{
	display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
}
.about-point ul{
	margin:0;
}
.about-point ul li{
	padding-bottom: 10px;
	font-size:18px;
	color:#878787;
	font-weight:300;
}
.skill-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.skill-container ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.skill-container ul a li{
	width:150px;
	height:auto;
}
.skill-container ul a li img{
	width:150px;
	height:auto;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F273C;
    color:white;
    font-weight: 300;
    font-size:14px;
}
.contact-container{
  display: flex;
  padding: 6px 3px 3px 3px;
}
.contact-icon{
  color:#1F273C;
  background-color:white;
  border-radius:50%;
	border:0.1px solid white;
  margin:5px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon:hover{
  color:white;
  background-color:#1F273C;
  border-radius:50%;
	border:0.1px solid white;
  margin:5px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon:hover a{
  text-decoration: none;
  color:white;
}
.contact-icon a{
  text-decoration: none;
  color:#1F273C;
}
.copyright{
  padding:3px 3px 6px 3px;
  font-size: 12px;
}
@media only screen and (min-width:1024px){
	[class*="col-"] {
	}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
@media only screen and (max-width:560px) {
	.col-m-12 {
		width: 100vw;
		padding:15px 0;
	}
	.logo{
		margin:0 0 0 4%;
	}
	.title2{
		padding: 15px;
		font-size: 25px;
	}
	#m-menu-btn{
		display: block;
		position: absolute;
		font-size: 20px;
		right:20px;
		top:18px;
	}
	.header ul{
		display: none;
	}
	#m-menu-list{
		position: absolute;
		width:100vw;
		top:55px;
		left:0;
		height:auto;
	}
	#m-menu-list ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.banner{
		height:300px;
	}
	.about-pic img{
		width:85%;
		height:auto;
	}
	.about-point ul{
		padding-right: 15px;
	}
	.contact-icon{
		width:40px;
		height:40px;
		font-size:20px;
	}
}
