body{
  position:relative;
  font-family: 'Roboto', sans-serif;
  margin:0;
}
.header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:55px;
    padding: 0 0;
    background-color: rgba(210,222,234,0.7);
    z-index: 100;
}
.header ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0 10px 0 15px;
}
.header li{
  float: left;
}
.header li a{
  padding: 10px;
  color: #1F273C;
  text-decoration: none;
  display: block;
}
.header li a.active{
  color: #2A5382;
}
.logo{
    padding: 4px 2px 2px 2px;
    font-size: 24px;
    position: relative;
    margin: 0px 0 5px 4%;
    font-weight: 400;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
    color: #2A5382;
    border: #2A5382 2px solid;
}
#m-menu-list, #m-menu-btn{
	z-index: 100;
	color:#1F273C;
}
#m-menu-btn{
	display:none;
}

#m-menu-list{
	display:none;
	background-color: rgba(210,222,234,0.7);
}
#m-menu-list ul{
	display: hidden;
}
.contents{
  /*margin-top: 71px;*/
  background-color: #ABABAB;
}
.banner{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
  justify-content: center;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-image: url(/project-bg.jpeg);
  background-size: cover;
}
.banner .overlay{
	background-color:rgba(0,0,0,0.6);
	width:100%;
	height:100%;
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.title{
  font-size: 87px;
  color: white;
}
.title2{
  color: white;
  font-size: 30px;
}
.title3{
  color: white;
  font-size: 20px;
  font-weight: 200;
  padding: 6px;
  margin: 5px;
  letter-spacing: 1px;
  border-bottom: white solid 1px;
  border-top: white solid 1px;
}
.about{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F273C;
    color:white;
    font-weight: 300;
    font-size:14px;
}
.contact-container{
  display: flex;
  padding: 6px 3px 3px 3px;
}
.contact-icon{
  color:#1F273C;
  background-color:white;
  border-radius:50%;
  margin:5px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon a{
  text-decoration: none;
  color:#1F273C;
}
.copyright{
  padding:3px 3px 6px 3px;
  font-size: 12px;
}
@media only screen and (max-width:560px) {
	#m-menu-btn{
		display: block;
		position: absolute;
		right:20px;
		top:18px;
	}
	.header ul{
		display: none;
	}
	#m-menu-list{
		position: absolute;
		width:100vw;
		top:55px;
		left:0;
		height:auto;
	}
	#m-menu-list ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.banner{
		height:300px;
	}
}
.projects{
	background-color: #505050;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.project-card{
	background-color: #E0E0E0;
	border:1px #878787 solid;
	border-radius: 8px;
	width:55vw;
	height:40vw;
	position: relative;
	margin:10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position: center;
}
.project-card .card-content{
	position:absolute;
	width:100%;
	height:100%;
	border-radius: 8px;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.project-card .card-content:hover{
	opacity: 1;
	background-color: rgba(42,83,130,0.6);
}
.project-card .card-content .title{
	font-size:26px;
}
.project-card .card-content .content{
	font-size:16px;
	color:white;
}
